.body {
  margin: 1;
}
.img {
  width: 5098px;
  height: 2352.9px;
}

.main {
  width: 5098px;
  height: 2352.9px;
  background-image: url("screenshots/Screenshot_20220920-202116_Zoom.jpg");
  background-size: 5098px 2352.9px;
}
.score {
  font-size: 80px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 42px;
  position: absolute;
  font-family: "calibri";
  color: rgb(0, 255, 0);
  transform: rotate(0deg);
}